---
layout: empty
---

/* roboto-regular - latin_greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('{{site.baseurl}}/fonts/roboto-v20-latin_greek-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('{{site.baseurl}}/fonts/roboto-v20-latin_greek-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html, body {
    font-family: 'Roboto', sans-serif;
}



