---
title: Bamboo Garden Trimming
short_description: "Interactive simulation of three Trimming Oracles: compact data structures that can quickly generate the sequence of bamboos to cut in the Bamboo Garden Trimming problem according to some perpetual cutting strategy."
custom_css:
- treant/Treant.css
- style.css
custom_js: 
- treant/raphael.js
- treant/Treant.js

---

<div class="page_wrapper">

<h1>Bamboo Garden Trimming</h1>

<p>
You just bought a house by a lake. A bamboo garden grows outside the house and obstructs
the beautiful view of the lake. To solve the problem, you also bought a robotic panda
gardener which, once per day, can instantaneously trim a single bamboo. You have already
measured the daily growth rate of every bamboo in the garden, and you are now faced with
programming the gardener with a suitable perpetual schedule of bamboos to trim in order to
keep the view as clear as possible.</p>

<p>The height of the tallest bamboo to ever appear in the garden is called the <i>makespan</i>.
A <i>compact</i> data structure that can <i>quickly</i> report the next bamboo to cut in the schedule is called a <i>Trimming Oracle</i>.
The goal is to design a Trimming Oracle that keeps the makespan as small as possible.</p>

<p>The following is a visualization of the Trimming Oracles presented in the paper <i><a href="https://arxiv.org/abs/2005.00168">Cutting Bamboo Down to Size</a></i> that
will appear in the proceedings of the <i><a href="https://sites.google.com/view/fun2020">10th International Conference on Fun with Algorithms (FUN 2020)</a></i>.
<ul>
<li>The <b>Reduce-Max</b> strategy always cuts the tallest bamboo, and the best known upper bound on the achieved makespan is 9H, where H is the total daily growth of the bamboo forest (i.e., the sum of the bamboo's growth rates).</li>
<li><b>Reduce-Fastest(x)</b> cuts the bamboo with the fastest growth rate among those of height at least xH and its makespan depends on the value of x>1. The choice of x that minimize the best known upper bound on the makespan is x = 1 + 1/sqrt(5) ≈ 1.45 and the corresponding makespan is (1 + φ)H &lt; 2.62 H, where φ is the golden ratio.</li>
<li><b>Tree</b> is a novel trimming oracle that achieves a makespan of at most 2H.
</ul>

See the <a href="https://arxiv.org/abs/2005.00168">paper</a> for a description of the inner workings of each of the above oracles.
Notice that the growth rates of the bamboos in the simulation are positive integers, while the paper considers their normalized version instead (which can be obtained by dividing each rate by H, so that the total daily growth of the forest becomes 1).
</p>

<h2>Interactive simulation</h2>

<label for="input"><b>Daily growth rates:</b></label> <input type="text" id="input" value="11 3 4 2 6 1"><br>
<label for="oracle_type"><b>Oracle type:</b></label> 
<input type="radio" name="oracle_type" id="reducemax"><label for="reducemax">Reduce-Max</label> 
<input type="radio" name="oracle_type" id="reducefastest"><label for="reducefastest">Reduce-Fastest</label> 
<input type="number" id="reducefastest-x" min="1.01" value="1.45" style="width: 5em" step="0.01">
<input type="radio" name="oracle_type" id="tree" checked><label for="tree">Tree</label> 

<button type="button" id="build">Build oracle</button><br>
<b>Parsed input:</b> <span id="parsed"></span><br><br>

<div id="oracle" style="display: none;">
<button type="button" id="query">Query!</button> <button type="button" id="play">Play/Pause</button><br><br> 

<div>
<div style="display: inline-block;" class="garden_wrapper">
    <h3 style="text-align: center;">Garden</h3>
    <canvas id="garden" width="0" height="0"></canvas>
</div>

<div style="display: inline-block;" class="oracle_wrapper">
    <h3 style="text-align: center;">Oracle</h3>
    <div id="oracle_view"></div>
</div>
</div>

<br>
<h3>Schedule (last 100):</h3>
<span id="schedule" style="min-height: 2em;" class="schedule"> </span><br>
<small>We thank Francesca Marmigi for drawing the robotic panda gardner.</small>
</div>
</div>

<script type="text/javascript" src="reduce_max.js"></script>
<script type="text/javascript" src="reduce_fastest.js"></script>
<script type="text/javascript" src="tree.js"></script>
<script type="text/javascript" src="script.js"></script>


