<link rel="icon" type="image/png" href="{{site.baseurl}}/images/favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="{{site.baseurl}}/images/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="{{site.baseurl}}/images/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="{{site.baseurl}}/images/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="{{site.baseurl}}/images/favicon-128.png" sizes="128x128" />
