<script>
MathJax = {
  tex: {
    inlineMath: [ ['$','$'], ['\\(', '\\)'] ],
    displayMath: [ ['$$','$$'], ['\\[', '\\]'] ],
    processEscapes: true
  }
};
</script>

<script src="{{site.baseurl}}/mathjax/tex-chtml.js" id="MathJax-script" async></script>

