---
title: Two-Dots is NP-Hard
short_description: Interactive implementation of the reduction from Exact Cover by 3-Sets showing that Two Dots is NP-hard even with 2 goals and 3 colors.
---
<h1>Two-Dots is NP-Hard</h1>

Instance of <abbr style="border-bottom: 1px dotted black; cursor: help;" title="Problem SP2 in Garey and Johnson, Computers and Intractability: A Guide to the Theory of NP-Completeness, 1979."><i>Exact Cover by 3-Sets</i></abbr><br/>
One set per row, elements are separated by spaces. The elements must be the integers in {1, 2, ..., 3k} for some positive odd integer k.<br/>
Click and drag to make a move.<br/>
<textarea rows="6" cols="50" id="instance">
2 5 7
1 4 5
2 6 8
1 3 8
4 6 9
</textarea><br/>
<button type="button" id="generate" onclick="reset(); update();">Generate!</button>

<br/><br/>

Remaining moves: <span id="moves">0</span>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Goal:
<svg height="22" width="22">
  <circle cx="11" cy="11" r="10" stroke="#222222" stroke-width="1" fill="#5555FF" />
</svg>
<span id="done_0">0</span>/<span id="num_0">0</span>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<svg height="22" width="22">
  <circle cx="11" cy="11" r="10" stroke="#222222" stroke-width="1" fill="#FF5555" />
</svg>
<span id="done_1">0</span>/<span id="num_1">0</span>

<br/>

<canvas id="board" width="100" height="100" style="width:50px; height:50px; border:1px solid #000000;"></canvas>

<script>

var canvas = document.getElementById("board")
var ctx = canvas.getContext("2d");

var done_0=0;
var goal_0=0;
var done_1=0;
var goal_1=0;


var won=false;
var remaining_moves=0;

var CELL_SIZE=30;
var BOARD_WIDTH=20;
var BOARD_HEIGHT=20;
var NCOLORS = 3

var COLORS_NOFILL = ["#5555FF", "#CCCCCC", "#CCCCCC", "#CCCCCC", "#CCCCCC"]
var COLORS_FILL   = ["#5555FF", "#FF5555", "#BBFFBB", "#FFFFBB", "#DDBBFF"] //["#5555FF", "#FF5555",  "#666666", "#888888", "#AAAAAA", "#CCCCCC"]

var COLORS = COLORS_FILL

var dragging = false;
var cycle=false;
var drag_list = null;
var board = null;

function reset()
{
	done_0=goal_0=done_1=goal_1=0;
	won=false;
	dragging=cycle=false;
	drag_list = new Array(0);

	var num_items=0
	var instance = document.getElementById("instance").value;
	var sets_split = instance.match(/^\w*\S.*$/gm);
	var sets = new Array(sets_split.length);
	for(var i=0; i<sets_split.length; i++)
	{
		items_split = sets_split[i].match(/\d+/g);
		sets[i] = new Set();
		for(var j=0; j<items_split.length; j++)
		{
			var item = parseInt(items_split[j])-1;
			sets[i].add(item);
			num_items = Math.max(num_items, item+1);
		}
	}

	var top_padding = 0; //4*(num_items/3)+1
	var padding = 2;
	var sets_area_height=(padding+2)*sets.length

	var dots_per_wire = (5*num_items+6);
	var blue_dots = dots_per_wire*sets.length  + sets_area_height*2;
	var spool_cols = Math.ceil(blue_dots/sets_area_height);

	BOARD_HEIGHT = sets_area_height + top_padding + 4;
	BOARD_WIDTH = 5*num_items+ 4 + 2*spool_cols;


	canvas.width=BOARD_WIDTH*CELL_SIZE;
	canvas.height=BOARD_HEIGHT*CELL_SIZE;
	canvas.style.width=canvas.width/2+'px';
	canvas.style.height=canvas.height/2+'px';

	board = new Array(BOARD_HEIGHT);
	for(var i=0; i<BOARD_HEIGHT; i++)
	{
		board[i] = new Array(BOARD_WIDTH);
		for(var j=0; j<BOARD_WIDTH; j++)
		{
			board[i][j] = -1
		}
	}

	for(var j=0; j<num_items; j++)
	{
		var col=j*5+2+spool_cols;
		board[3][col] = board[2][col+1] = board[1][col+1] = board[0][col+1] = board[1][col+2] = board[0][col+3] = board[1][col+3] = board[2][col+3]= board[3][col+4] = 1;
	}


	for(var i=4+top_padding+padding+1; i<BOARD_HEIGHT; i++)
	{
		board[i][spool_cols+1] = board[i][BOARD_WIDTH-spool_cols-2] = 0;
	}

	board[4+top_padding+padding+1][spool_cols] = board[BOARD_HEIGHT-1][BOARD_WIDTH-spool_cols-1] = 0;
	for(var i=4+top_padding+padding+1; i<BOARD_HEIGHT; i++)
	{
		for(j=0; j<spool_cols; j++)
		{
			board[i][j] = board[i][BOARD_WIDTH-1-j] = 0;
		}
	}


	for(var i=0; i<sets.length; i++)
	{
		var row = (padding+2)*(i+1)-1 + top_padding + 4
		for(var j=0; j<num_items; j++)
		{
			var col = j*5+2+spool_cols;

			if(sets[i].has(j))
			{
				board[row][col] = board[row][col+1] = board[row-1][col+1] = board[row-1][col+2] = board[row-1][col+3] = board[row][col+3] = board[row][col+4] = 0;
			}
			else
			{
				board[row][col] = board[row][col+1] = board[row][col+2] = board[row][col+3] = board[row][col+4] = 0;
			}
		}
	}


	for(var j=0; j<BOARD_WIDTH; j++)
	{
		for(var i=0; i<BOARD_HEIGHT; i++)
		{
			if(board[i][j] == -1)
			{
				board[i][j] = 2;
			}
			
		}
	}

	remaining_moves=2;

	goal_0=2*spool_cols*(BOARD_HEIGHT-(4+top_padding+padding+1) ) + 2;
	goal_1=9*num_items;
	document.getElementById("num_0").textContent=goal_0;
	document.getElementById("num_1").textContent=goal_1;
}

function draw_circle(row, col, color)
{
	var cx = CELL_SIZE*col+CELL_SIZE/2;
	var cy = CELL_SIZE*row+CELL_SIZE/2;

	ctx.beginPath();
	ctx.arc(cx, cy, CELL_SIZE/2-2, 0, 2*Math.PI);
	ctx.closePath();

	ctx.fillStyle = color;
	ctx.fill()

	ctx.lineWidth=1
	ctx.strokeStyle = '#222222';
	ctx.stroke();
}

function draw_connection(cell1, cell2)
{
	var x1 = CELL_SIZE*cell1.col+CELL_SIZE/2;
	var y1 = CELL_SIZE*cell1.row+CELL_SIZE/2;
	var x2 = CELL_SIZE*cell2.col+CELL_SIZE/2;
	var y2 = CELL_SIZE*cell2.row+CELL_SIZE/2;

	ctx.beginPath();
	ctx.moveTo(x1, y1);
	ctx.lineTo(x2, y2);

	ctx.lineWidth = CELL_SIZE/4
	ctx.lineCap = 'square'
	ctx.strokeStyle = cycle?'#FFFF55':'#FFDD55';
	ctx.stroke();
}

function update()
{
	document.getElementById("moves").textContent = remaining_moves;
	document.getElementById("done_0").textContent = done_0;
	document.getElementById("done_1").textContent = done_1;

	ctx.clearRect(0, 0, canvas.width, canvas.height);
	for(var i=0; i<BOARD_HEIGHT; i++)
	{
		for(var j=0; j<BOARD_WIDTH; j++)
		{
			if(board[i][j]!=-1)
				draw_circle(i, j, COLORS[board[i][j]]);
		}
	}

	if(dragging)
	{
		for(var i=0; i<drag_list.length-1; i++)
			draw_connection(drag_list[i], drag_list[i+1]);
	}
}

function cell_from_coords(x, y)
{
	var rect = canvas.getBoundingClientRect();
	x = x - rect.left;
	y = y - rect.top;
	var row = Math.floor(y*2 / CELL_SIZE);
	var col = Math.floor(x*2 / CELL_SIZE);

	if(row<0 || row>=BOARD_HEIGHT || col<0 || col>=BOARD_WIDTH)
		return null;

	return {row: row, col: col}
}

function drag_start(x, y)
{
	if(dragging)
		return;

	if(remaining_moves==0)
		return;

	var cell = cell_from_coords(x, y);
	if(cell==null)
		return;

	if(board[cell.row][cell.col]==-1)
		return

	drag_list = [cell]
	dragging=true;
}

function drag_end()
{
	if(!dragging)
		return;

	dragging=false;

	if(drag_list.length<2)
		return;

	remaining_moves--;

	if(!cycle)
	{
		for(var i=0; i<drag_list.length; i++)
		{
			var col = board[drag_list[i].row][drag_list[i].col];
			if(col==0)
				done_0++;
			else if(col==1)
				done_1++;

			board[drag_list[i].row][drag_list[i].col]=-1
		}
	}
	else
	{
		var col = board[drag_list[0].row][drag_list[0].col];
		var count = 0;
		for(var i=0; i<BOARD_HEIGHT; i++)
		{
			for(var j=0; j<BOARD_WIDTH; j++)
			{
				if(board[i][j]==col)
				{
					board[i][j]=-1;
					count++;
				}
			}

			if(col==0)
				done_0=done_0 + count;
			else if(col==1)
				done_1 = done_1 + count;

		}
	}
	cycle=false;

	for(var j=0; j<BOARD_WIDTH; j++)
	{
		var gap=0;
		for(var i=BOARD_HEIGHT-1; i>=0; i--)
		{
			if(board[i][j]==-1)
				gap=gap+1;
			else if(gap>0)
			{
				board[i+gap][j]=board[i][j]
				board[i][j]=-1
			}
		}
 	}

	update();

	if(!won && (done_0>=goal_0) && (done_1>=goal_1))
	{
		won=true;
		alert("You win!");
	}

	if(!won && remaining_moves==0)
	{
		alert("You lost :(");
	}

}

function in_drag_list(cell)
{
	for(var i=drag_list.length-1; i>=0; i--)
	{
		if(cell.row == drag_list[i].row && cell.col == drag_list[i].col )
		{
			//console.log("Found", row, col, " at position", i, drag_list[i], "len:", drag_list.length)
			return true;
		}
	}

	return false;
}

function adjacent(cell1, cell2)
{
	return Math.abs(cell1.row-cell2.row) + Math.abs(cell1.col-cell2.col) == 1 
}

function drag_move(x,y)
{
	if(!dragging)
		return;

	var cell = cell_from_coords(x, y);
	if(cell==null)
		return;

	if( board[cell.row][cell.col] != board[drag_list[0].row][drag_list[0].col] )
		return;

	var prev = drag_list[drag_list.length-1]
	if(!adjacent(cell, prev))
		return

	if(in_drag_list(cell))
	{
		//We know that drag_list.length>=2
		if(cell.row == drag_list[drag_list.length-2].row && cell.col == drag_list[drag_list.length-2].col)
		{
			drag_list.splice(-1,1)
			cycle=false;
			update();
			return;
		}
		else if(!cycle)
		{
			drag_list[drag_list.length] = cell;
			cycle=true;
			update();
			return;
		}
	}

	if(!cycle)
	{
		console.log("Added", cell.row, cell.col)
		drag_list[drag_list.length] = cell;
		draw_connection(prev, cell)
	}
}


function mousedown(event)
{
	drag_start(event.clientX, event.clientY);
}

function touchstart(event)
{
	if(event.touches.length==1)
		drag_start(event.touches[0].clientX, event.touches[0].clientY);
}

function mouseup(event)
{
	drag_end()
}

function touchend(event)
{
	if(event.touches.length==0)
		drag_end();
}

function mousemove(event)
{
	drag_move(event.clientX, event.clientY);
}

function touchmove(event)
{
	if(event.touches.length==1)
	{
		drag_move(event.touches[0].clientX, event.touches[0].clientY);
		event.preventDefault();
	}
}

document.getElementById("board").addEventListener('mousedown', mousedown, false);
document.getElementById("board").addEventListener('touchstart', touchstart, false);

document.getElementById("board").addEventListener('mouseup', mouseup, false);
document.getElementById("board").addEventListener('touchend', touchend, false);

document.getElementById("board").addEventListener('mousemove', mousemove, false);
document.getElementById("board").addEventListener('touchmove', touchmove, false);


reset();
update();

</script> 
