<!DOCTYPE html>
<html lang="en">
  <head>
    {% include style.html %}
    {% include title.html %}
    {% include mathjax.html %}
    {% include analytics.html %}
    {% include favicon.html %}
    <link rel="stylesheet" href="{{site.baseurl}}/css/font.css">
  </head>
  <body>
    <div class="wrapper">
      {% include header.html %}
      <div class="game_page">
        <h1>{{ page.title | escape }}</h1>
        {{ page.short_description | escape }}
        <hr/>
        {{ content }}
        {% capture cite_tag%}{{ page.url | replace: '/index.html', '' | split: '/' | last }}{% endcapture %}
        {% capture cite_title%}{{ page.title | escape }} --- Complexity of Games{% endcapture %}
        {% include cite_this_page.html tag=cite_tag title=cite_title%}
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>

